a{
    text-decoration:none;
    color:#1A73E8;
}
body{
    margin:20px;
    font-size:16px;
}
img{
    max-width:100%;
}
video {
  width: 100%;
  height: auto;
}
main,header{
    display:flex;
    justify-content:space-around;
}
article,header>div:nth-child(1){
    flex-grow:3;
    width:75%;
}
b{
    color:#C00;
}
header{
    margin:0;
    align-items:center;
    input,ul{
        width:160px;
    }
    input{
        float:right;
        padding:8px 12px;
        border-radius:21px;
        outline:0;
        border:1px solid #e6ecf0;
        margin-right:35px;
        line-height:28px;
    }
    input:focus{
        border:1px solid #1a73e8;
    }
    >div:nth-child(1){
        position:relative;
        a{
            display:block;
            padding:7px 15px;
        }
        a:hover{
            background-color:#e8f5fd;
        }
    }
    ul{
        position:absolute;
        right:45px;
        top:30px;
        z-index:100;
        background-color:#fff;
        border:1px solid #e6ecf0;
        border-top:0;
        border-radius:4px;
        list-style-type:none;
        padding:0;
    }
    a{
        padding:0 10px;
    }
}
nav,header>div:nth-child(2){
    padding-left:5em;
    flex-grow:2;
    ul,ol{
        list-style-type:none;
        padding:1em;
    }
    li{
        padding:5px 0;
    }
}
.hljs-ln .hljs-ln-numbers{
    width:20px;
    padding: 0 10px;
}
td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
}
.hljs-ln .hljs-ln-code {
    padding: 0 10px;
}
#es-result li+div{
   padding:10px; 
}
